.login-section {
    background-color: #f2f4f4;
    min-height: 100vh;
}

.login-image-block {
    display: flex;
    justify-content: center;
}

.login-image {
    width: 70%;
}

.login-form-block {
    background-color: #f9f9f9;
}
